
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > :not(header){
    /* margin: 0px; */
    /* padding: 0px; */
    /* display: block; */
        /* display: flex; */

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery{
    background-color: lightblue;
    width: 100vw;
    height: 100%;
}

.canvas-picture{
    width: 50%;
    margin: 20px;
    background-color: #fff;
   
}